  <%= render "layouts/main" %>

<section class="main-banner">
  <img class="main_image" src="/images/bannerweb.png" height="500" width="1278" align="center" />
</section>

  <section class="container statement">
    <h2 class="statement" > Nutritional Science Offering Targeted Individual Plans</h2>
    <p>Get fit, take your sport performance to the next level with plans specific to your sport,
       build muscle and melt fat, or get a healthier you and regain confidence in yourself. </p>

      <p> Join the people that have benefited from the Advanced Nutrition. <br />
        <ul>
          <li><p>If you are an athlete needing to get to a better level or perform better at your sport.
            <br />Get your edge <%= link_to "now", athletic_performance_path%>.<p></li>
          <li><p>If you are or want to compete in figure, bikini, or bodybuilding and the preparation
            to get you stage ready.<br /> Get stage ready <%= link_to "now", physique_contest_path%>.</p></li>
          <li><p>If you want to lose body fat and improve aesthetics, get summer ready, and melt fat off
          .<br /> Get ready  <%= link_to "now", health_wellness_path%>.</p></li>
          <li><p>If you need a total body transformation and are willing to work to get there.
             Start your own transformations now and check out the difference it has made
             to <%= link_to "others", body_transformation_path%>.</p></li>
        </ul>
      </p>

  </section>

  <section>
    <%= render "layouts/footer" %>
  </section>