  <%= render "layouts/main" %>

<section class="main-banner">
  <img class="main_image" src="/images/bannerweb.png" height="500" width="1278" align="center" />
</section>


  <section class="container statement">
    <h2 class="statement" > Nutritional Science Offering Targeted Individual Plans</h2>
    <p>Get fit, take your sport performance to the next level with plans specific to your sport,
       build muscle and melt fat, or get a healthier you and regain confidence in yourself. Join the people that have benefited from the Advanced Nutrition. Check out the difference we have made <%=link_to "Body Transformations",body_transformation_path %>. </p> 
  </section>

  <section class="container statement">
  <div class="row row-content">
      <div class="col-md-3">
        <h3 class="media-heading" align="center">Bodybuilding/Fitness Contest</h3>
      </div>
      <div class="media-body">
        <p>
        Advanced Nutrition has helped people in all over the world with their physique needs, their preparation, meal prep, nutrition and training. 

        Are you 12 weeks out, 24, 48, Advanced Nutrition can help get to the stage. For more information visit our
        <%= link_to "Physique Contest", physique_contest_url %> page.</p>
        <br />
      </div>
    </div>
    <br />
    <br />
    <div class="row row-content">
      <div class="col-md-3">
        <h3 class="media-heading" align="center">Athletic Performance</h3>
      </div>
      <div class="media-body">
        <p>
          If you are an aspiring athlete, or already play at a high level, to increase sport performance means many different things depending on the sport.

          Advanced Nutrition has the knowledge and experience to provide you with both! For more information visit our
        <%= link_to "Athletic Performance", athletic_performance_url %> page.</p>
          <br />
        </p>
        <br />
      </div>
    </div>
    <br />
    <br />

     <div class="row">
      <div class="col-md-3">
        <h3 class="media-heading" align="center">Health and Wellness</h3>
      </div>
      <div class="media-body">
        <p>
        If you are seeking a better quality of life, fitness, and over all better health, Advanced Nutrition can also provide you with the tools you need to achieve those goals.

        Advanced Nutrition has helped people transform their lives. 
        For more information visit our <%= link_to "Health and Wellness", health_wellness_url %> page.
        </p>
      </div>
    </div>



  </section>



  <section>
    <%= render "layouts/footer" %>
  </section>