  <%= render "layouts/main" %>
  
  <header class="jumbotron">
    <img class="main-banner" src="/images/bannerweb.png" align="center" />
  </header>

  <section class="container statement">
    <div class="row">
      <div class="col-md-7">
        <h2 class="statement" > Nutritional Science Offering Targeted Individual Plans</h2>
          <p align="justify">Get fit, take your sport performance to the next level with plans specific to your     sport, build muscle and melt fat, or get a healthier you and regain confidence in yourself. Join the people that have benefited from the <i>Advanced Nutrition</i>&copy;.</p> 
      </div>
      <div class="col-md-4 col-md-offset-1 body-tran" style="border:1px solid grey;">
          <h2 align="center"><%=link_to "Body Transformations",body_transformation_path %> </h2>
          <p align="center">Check out the difference we have made!</p>
      </div>
    </div>
  </section>

  <section class="container statement">
  <div class="row">
      <div class="col-md-4">
        <h3 class="media-heading" align="center"><%=link_to "Bodybuilding",physique_contest_url %></h3>
        <img class="main-banner" src="/images/bicep.png" height="320" width="360" align="center" />    
          <p align="justify">Do you need personal training for Bodybuilding. Join us now and <%= link_to "learn more!", physique_contest_url %></p>
      </div>
       <div class="col-md-4">
        <h3 class="media-heading" align="center"><%=link_to "Athletic Performance",athletic_performance_url %></h3>
        <img class="main-banner" src="/images/dumb-bell-push.png" height="320" width="360" align="center" />
        <p align="justify">Want to improve your athletic performance? Join us now and <%= link_to "learn more!", athletic_performance_url %></p>
      </div>

      <div class="col-md-4">
        <h3 class="media-heading" align="center"><%=link_to "Health and Wellness",health_wellness_url %></h3>
        <img class="main-banner" src="/images/deadlift.png" height="320" width="360" align="center" />
        <p align="justify">Are you interested in losing fat and improving your health? Join us now and 
        <%= link_to "learn more!", health_wellness_url %></p>
      </div>
    </div>
     
  </section>
  </div>

  <section>
    <%= render "layouts/footer" %>
  </section>


