

<head>
  <title>AdvancedNutrition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="col-md-12">
        <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#"><img
        ></a>
          <li><%= link_to "Home", root_url%></li>
          <li><%= link_to "About", about_url%></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="">
            Services<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Bodybuilding", physique_contest_url %></li>
              <li><%= link_to "Athletic Performance", athletic_performance_url %></li>
              <li><%= link_to "Health and Wellness", health_wellness_url %></li>
            </ul>
          </li>
          <li><%= link_to "Body Transformations", body_transformation_url%></li>
          <li><%= link_to "Prices", prices_url%></li>
          <li><%= link_to "Contact", contact_url%></li>
         </ul>
       </div>
    </div>
  </nav>
</body>
